# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Parasoft
agent.jar
java_agent_coverage.zip
jtest_agent/
jtestcov/
# Branch switching
generated/


/*/*/*/resources/coverage
notes.txt
spring-petclinic-selenium-tests-simple/
jtest/dependency-check-pack-2023.1.0-20230523.zip
jtest/monitor.env
