# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Parasoft
agent.jar
java_agent_coverage.zip
jtest_agent/
jtestcov/
# Branch switching
generated/


/*/*/*/resources/coverage